<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <context-param>
    <param-name>javax.faces.PROJECT_STAGE</param-name>
    <param-value>Development</param-value>
  </context-param>
  <context-param>
    <param-name>log4jConfiguration</param-name>
    <param-value>/WEB-INF/log4j2.xml</param-value>
  </context-param>
  <context-param>
    <param-name>primefaces.THEME</param-name>
    <param-value>aristo</param-value>
  </context-param>
  <context-param>
    <param-name>javax.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name>
    <param-value>true</param-value>
  </context-param>
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>PdfServlet</servlet-name>
    <servlet-class>net.sf.jasperreports.j2ee.servlets.PdfServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>JExcelApiServlet</servlet-name>
    <servlet-class>net.sf.jasperreports.j2ee.servlets.JExcelApiServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RtfServlet</servlet-name>
    <servlet-class>net.sf.jasperreports.j2ee.servlets.RtfServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>net.sf.jasperreports.j2ee.servlets.ImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>*.xhtml</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PdfServlet</servlet-name>
    <url-pattern>/servlets/report/PDF</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JExcelApiServlet</servlet-name>
    <url-pattern>/servlets/report/EXCEL</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RtfServlet</servlet-name>
    <url-pattern>/servlets/report/RTF</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>/servlets/image</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>home/index.xhtml</welcome-file>
  </welcome-file-list>
  <security-constraint>
    <display-name>Unsecured</display-name>
    <web-resource-collection>
      <web-resource-name>Unsecured area</web-resource-name>
      <url-pattern>/login.xhtml</url-pattern>
    </web-resource-collection>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>user</web-resource-name>
      <url-pattern>/user/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>ADMIN</role-name>
      <role-name>MANAGER</role-name>
      <role-name>EMPLOYEE</role-name>
      <role-name>USER</role-name>
      <role-name>SUPERUSER</role-name>
      <role-name>CONTRACT</role-name>
      <role-name>MARKETING</role-name>
      <role-name>REPORTING</role-name>
      <role-name>HUMANRESOURCES</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>home</web-resource-name>
      <url-pattern>/home/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>ADMIN</role-name>
      <role-name>MANAGER</role-name>
      <role-name>EMPLOYEE</role-name>
      <role-name>USER</role-name>
      <role-name>SUPERUSER</role-name>
      <role-name>CONTRACT</role-name>
      <role-name>MARKETING</role-name>
      <role-name>REPORTING</role-name>
      <role-name>HUMANRESOURCES</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <security-constraint>
    <display-name>clients</display-name>
    <web-resource-collection>
      <web-resource-name>clients</web-resource-name>
      <url-pattern>/clients/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>ADMIN</role-name>
      <role-name>MANAGER</role-name>
      <role-name>EMPLOYEE</role-name>
      <role-name>CONTRACT</role-name>
      <role-name>USER</role-name>
      <role-name>SUPERUSER</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <security-constraint>
    <display-name>contracts</display-name>
    <web-resource-collection>
      <web-resource-name>contracts</web-resource-name>
      <url-pattern>/contracts/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>ADMIN</role-name>
      <role-name>MANAGER</role-name>
      <role-name>EMPLOYEE</role-name>
      <role-name>USER</role-name>
      <role-name>SUPERUSER</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <security-constraint>
    <display-name>admin</display-name>
    <web-resource-collection>
      <web-resource-name>admin</web-resource-name>
      <url-pattern>/admin/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>ADMIN</role-name>
      <role-name>SUPERUSER</role-name>
      <role-name>MARKETING</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <security-constraint>
    <display-name>report</display-name>
    <web-resource-collection>
      <web-resource-name>report</web-resource-name>
      <url-pattern>/report/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>ADMIN</role-name>
      <role-name>SUPERUSER</role-name>
      <role-name>REPORTING</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <security-constraint>
    <display-name>servicemanagement</display-name>
    <web-resource-collection>
      <web-resource-name>servicemanagement</web-resource-name>
      <url-pattern>/servicemanagement/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>ADMIN</role-name>
      <role-name>SUPERUSER</role-name>
      <role-name>MANAGER</role-name>
      <role-name>EMPLOYEE</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <security-constraint>
    <display-name>usermanagement</display-name>
    <web-resource-collection>
      <web-resource-name>usermanagement</web-resource-name>
      <url-pattern>/usermanagement/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>ADMIN</role-name>
      <role-name>SUPERUSER</role-name>
      <role-name>HUMANRESOURCES</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <security-constraint>
    <display-name>marketing</display-name>
    <web-resource-collection>
      <web-resource-name>marketing</web-resource-name>
      <url-pattern>/marketing/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>ADMIN</role-name>
      <role-name>SUPERUSER</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <login-config>
    <auth-method>FORM</auth-method>
    <realm-name>SQLLoginApp</realm-name>
    <form-login-config>
      <form-login-page>/login.xhtml</form-login-page>
      <form-error-page>/login.xhtml</form-error-page>
    </form-login-config>
  </login-config>
  <security-role>
    <role-name>ADMIN</role-name>
  </security-role>
  <security-role>
    <role-name>SUPERUSER</role-name>
  </security-role>
  <security-role>
    <role-name>USER</role-name>
  </security-role>
  <security-role>
    <role-name>MANAGER</role-name>
  </security-role>
  <security-role>
    <role-name>EMPLOYEE</role-name>
  </security-role>
  <security-role>
    <role-name>REPORTING</role-name>
  </security-role>
  <security-role>
    <role-name>HUMANRESOURCES</role-name>
  </security-role>
  <security-role>
    <role-name>MARKETING</role-name>
  </security-role>
  <security-role>
    <role-name>CONTRACT</role-name>
  </security-role>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/crmds</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
</web-app>